<div id="main_content" class="round">
  <ul class="posts">
  <% @posts.each do |post| %>
  <li>
    <small><%= human_date post.published_on %> &mdash;</small>
    <strong><a href="/<%= post.id %>.html"><%= post.title %></a></strong>
    <span class="perex"><%= post.perex %> (<%= post.comments.size %> comments)</span>
  </li>
  <% end %>
  </ul>
</div>
<div id="side_bar">
  <div id="sidebar_block"><div class="sidebar_title">About Me</div></div>
    <p>
      My name is Kelly McLaughlin. 
    </p>
    <p>
      I'm a software engineer @ <a href="http://absolute-performance.com">Absolute Performance</a> in beautiful Boulder, Colorado.
    </p>
    <p>
      My current software interests are <a href="http://www.erlang.org">Erlang</a>, Ruby, and web development with HTML5 and CSS3.
    </p>
    <p>
      When I'm not working on software projects I enjoy cycling, hiking, and snow sliding. 
    </p>
  <div id="email_bar">
  </div>
</div>

